@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-error-toast {
  background-color: #f52c6f; /* Change this color to the one you prefer */
  color: white; /* Text color, adjust as needed */
  margin: 15px;
}

.custom-success-toast{
  background-color: #49eb34;
  color: white;
  margin: 15px;

}

.bubble-layer {
  position: relative; /* Add this to establish a positioning context */
}

.bubble-layer::before {
  content: "";
  background-image: url("../images/landing/background_style.png");
  filter: invert(5%) sepia(91%) saturate(6282%) hue-rotate(272deg) brightness(99%) contrast(110%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

